div.container{
    border:3px solid rgb(24, 91, 190);
    height:339px;
    margin-top:25px;
    margin-left: 7%;
    border-radius: 10px;

}

div.container div.welcome{

    height: 40px;
    width:100%;
    background-color: rgb(24, 91, 190);
    border-radius: 6px 6px 0px 0px;
}

div.container div.welcome h4{
    color: white;
    padding-left: 5px;
    margin-left:10px;
}
img {
    padding:10px;
}



div.container div.footer{

    height: 40px;
    width:100%;
    background-color:silver;
    border-radius: 0px 0px 8px 8px ;
}

div.container div.footer h4{
    color: black;
    padding-left: 5px;
    margin-left:10px;
}