<!DOCTYPE html>
<html>
    <head>
    </head>
<body>

<!-- Welcome Starts -->
    <div class="container col-lg-9">
            <div class="row">
                <div class="welcome">
                    <h4>Welcome</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8"><img class="col-lg-9 img-fluid" src="{{'http://lorempixel.com/400/200/' | http: 'https'}}"></div>
            </div>
            <div class="row">
                <div class="footer">
                    <h4>Created by D16 @2019</h4>
                </div>
            </div>
        </div>
        <!-- Welcome Ends -->
</body>
</html>